# 九号APP相关（必填）
NINEBOT_DEVICE_ID="a7366f541cef483ccd5c2fb0978cce23"
NINEBOT_AUTHORIZATION="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxNDM4MTkwMDM1OTU3NTgzODcyIiwiYXVkaWVuY2UiOiJtb2JpbGUiLCJ1c2VyX25hbWUiOiJiZWliZWluYiIsImNsaWVudF9pZCI6InZlaGljbGVfYXBwX3Byb2QiLCJyZWdfZGF0ZSI6MTc2MjkzMjgyNCwiYXVkIjpbImlvdC13ZWJhcHAiXSwiYXJlYUNvZGUiOiI4NiIsInBob25lIjoiMTkwNzc0Njg4MTYiLCJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTc3NzM4MDA2MiwicmVnaW9uIjoiYmoiLCJqdGkiOiIxc1pXQ2FneF85aDJvaElvMjFsOFR3N21KZ1EiLCJlbWFpbCI6IjI5MDk4NzkwMjdAcXEuY29tIn0.Az7hze8jAyfD1f8K0-ywR53390w1zWXr7thXOuH7lSD0qjEytyGIJst7Z1VlbIoVBkejAGRxWE6CSGsy2a9C_qNslsJxDMt8FZbagt8HGJETOpgPj0T1pGYnHoJlyG8sc0jgB540IFEHEaJtWxaQzSUbgT6LCP1H9sJ3k6V1z0s"
NINEBOT_NAME="九号电摩M85C"  # 可选
# Bark通知相关（可选，需要则配置）
BARK_KEY=你的Bark密钥
BARK_URL=https://api.day.app  # 默认使用 APP 自带服务器
# 以下为Bark可选参数（根据需要添加）
# BARK_GROUP=九号签到通知      # 通知分组
# BARK_ICON=https://xxx.png    # 通知图标URL
# BARK_SOUND=bell              # 通知铃声